*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0px;
    margin: 0px;
}


/* navbar */


#navbar{
    background-color: rgb(218, 214, 214) !important;
}
#navbar .navbar-brand{
    font-size: 40px;
    font-weight: 500;
}
#navbar i{
    margin-right: 10px;
    font-size: 20px;
}

#navbar .nav-link{
    color: black;
    margin:0px 20px 0px 20px;
    text-decoration: underline;
    font-weight: 500;
} 

.flexIcon{
    display: flex;
    justify-content: center;
    width: 100%;
}
.flexIcon i{
   
   width: 30px;
   padding: 3px  7px;
   height: 25px;
}

#navbar input{
    width: 65%;
    margin:auto 100px;
     outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(179, 174, 174);
    background-color: rgb(218, 214, 214) !important;

}
#navbar input:focus {
    border-color: black
  }
  #navbar input::placeholder{
      padding-left: 10px;
  }

.navbar-manu{
    display: flex;
    justify-content: center;
}
.navbar-manu a{
    margin: 10px 50px;
}
.navbar-manu a{
    color: black !important;
   font-weight: 500;
}
.navbar-manu a:hover{
    text-decoration: underline;
}
@media only screen and (min-width: 1000px){
    .navbar-manu-inside{
        display: none;
    }
}

@media only screen and (max-width: 1000px){
    .displaynone1000{
        display: none;
    }
    .navbar-manu{
        display: none;
       
    }

    .navbar-manu-inside {
        display: flex;
        flex-direction: column;
        margin: 20px 0px 20px 30px;
        padding: 20px 0px;    
    }

    .navbar-manu-inside a{
            margin: 10px 0px;
            color: black !important;
            font-weight: 500;
    }

}
@media only screen and (max-width: 1024px){
    #navbar input {
    width: 50%;
    }
    .navbar-manu a {
        margin: 10px 20px;
    }
}

@media only screen and (max-width: 770px){
    #navbar input {
        width: 70%;
    }
}

@media only screen and (max-width: 450px){
    #navbar input {
        width: 100%;
        margin:auto;
        margin-top: 15px;
    }
}











  /* main header */

  .bgOffice{
      background: url('https://images.unsplash.com/photo-1497366811353-6870744d04b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
      background-size: cover;
      width: 100%;
      height: 90vh;
      background-position: center;
      background-repeat: no-repeat;
       
      
    } 

.bgOffice .career-header{
    position: relative;
    top: 35%;
    width: 900px !important;
    text-align: right;
   
    font-size: 80px;
    background-color: antiquewhite;
    opacity: .7;
    padding: 3px 20px;
    width: 500px;
}

.career-sub-text{
    background-color: white;
    width: 60vw;
    position: relative;;
   top: -100px;
   left: 20%;
    line-height: 40px;
    padding: 50px;
    width: 100;
    border-radius: 20px;
    align-items: center;
    font-size: 20px;
    text-align: center;
}
.career-head-believe{
    margin-top:-90px !important;
}
.career-head-believe h1{
     background-color: antiquewhite;
     padding: 0px 300px;

}

.career-head-believe p{
    padding: 50px 100px;
    font-size: 20px;
    line-height: 40px;
}
.interested{
    padding: 0px 150px;
  
}
.interested select{
    width: 400px;
}

.interested .form-control{
    color: white;
    background-color: black;
}
.interested .btn{
    background-color: black;
    color: white;
    font-weight: 600;
}
.interested button:hover{
    background-color: rgb(163, 157, 157);
    color: black;
}
.interested .flex1{
    display: flex;
    justify-content: center;
}

/* responsive 1024 */


@media only screen and (max-width: 1100px) {
    #navbar .displaynone1000{
       display: none;
    }
    .bgOffice .career-header {
        width: 730px !important;
    }
    .career-sub-text {
        bottom: -10%;
        font-size: 25px;
    }
    .career-head-believe p{
        font-size: 25px;
    }


}

/* responsive 770 */

@media only screen and (max-width: 770px) {

  .career-head-believe p {
        padding: 50px 100px;
    }

    .career-sub-text {
        width: 80vw; 
        left: 10%;  
        bottom: -20% !important;
        font-size: 18px;
      
    }
    .bgOffice .career-header {
        width: 650px !important;
    }
    .career-head-believe{
        margin-top: 300px;
    }
    .career-head-believe h1{
        padding: 0px  100px;
    }
    .career-head-believe p{
        font-size: 18px;
    }
    .interested .flex1{
       
    }
    .flex1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
   
}




@media only screen and (max-width: 1024px){
    .career-sub-text {
        bottom: -5%;
    } 
    .career-sub-text {
       
        width: 80vw;
      
        top: -200px;
        left: 10%;
     
    }
}

/* min 1024 */
@media only screen and (min-width: 1030px) {
    
    .bgOffice .career-header {
        width: 650px ;
    }
    .career-sub-text {
        bottom: -30%;
    } 
   
}

@media only screen and (max-width: 380px){
    /* .career-sub-text {
        bottom: -20;
    } */
}
/* max 400 */
@media only screen and (max-width: 450px){
    .bgOffice .career-header {
        width: 300px !important;
        font-size: 30px;
    }
    .career-head-believe{
        margin-top: -180px !important;
    }
    .interested {
        align-items: center;
    }
    .interested select{
        width: 250px;
        display: flex !important;
        width: 100%;
        justify-content: center;
    }
    .form-control{
        display: none;
    }
    .career-sub-text{
        font-size: 14px;
        line-height: 1.5;
        padding: 20px;
        width: 80vw;
        left: 7%;
    }
    .career-head-believe{
         margin-top: 200px;
    }
    .career-head-believe p{
        padding: 50px 20px;
        line-height: 1.5;
        font-size: 14px;
    }
    .career-sub-text {
        bottom: -25%;
    }
    .interested {
        padding: 0px 50px;
    }
    .career-head-believe h1{
        padding: 0px  50px;
        font-size: 30px;
    }
    .interested .btn{
        padding: 0;
    height: 35px;
    width: 50px;
    }
    
   
}

@media only screen and (max-width: 500px){
    .bgOffice .career-header {
        top: ;
}