@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap');
html *
{
    font-family: 'Allerta Stencil';

}
*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0px;
    margin: 0px;
}


/* navbar */

.hrcolor{
    color: black;
}


#navbar{
    background-color: white!important;
}
#navbar .navbar-brand{
    font-size: 40px;
    font-weight: 500;
}
#navbar i{
    margin-right: 10px;
    font-size: 20px;
}

#navbar .nav-link{
    color: black;
    margin:0px 20px 0px 20px;
    text-decoration: underline;
    font-weight: 500;
} 

.fa-facebook-square {
    color: #3b5998;
  }
.fa-instagram {
    color: #B43E8E;
} 
.fa-pinterest-square {
    color: #bd081c;  
}
.fa-pinterest-p {
    color: #bd081c;
}
.fa-youtube {
      color: #FF0000;
}
.fa-twitter-square {
    color: #1da1f2;
}

.flexIcon{
    display: flex;
    justify-content: center;
    width: 100%;
}
.flexIcon i{
   
    width: 30px;
    padding: 3px  7px;
    height: 25px;
 }
 .flexIcon img{

    width: 40px;
    padding-right: 10px;
    }

    #navbar input{
        width: 65%;
        margin:auto 200px auto 30px;
         outline: 0;
        border-width: 0 0 2px;
        border-color: rgb(54, 53, 53);
    }
::placeholder {
    color:white !important;
}
#navbar input:focus {
    border-color: black
  }
  #navbar input::placeholder{
      padding-left: 10px;
  }

.navbar-manu{
    display: flex;
    justify-content: center;
}
.navbar-manu a{
    margin: 10px 50px;
}
.navbar-manu a{
    color: black !important;
   font-weight: 500;
}
.navbar-manu a:hover{
    text-decoration: underline;
}
@media only screen and (min-width: 1000px){
    .navbar-manu-inside{
        display: none;
    }
}

@media only screen and (max-width: 1000px){
    .displaynone1000{
        display: none;
    }
    .navbar-manu{
        display: none;
       
    }

    .navbar-manu-inside {
        display: flex;
        flex-direction: column;
        margin: 20px 0px 20px 30px;
        padding: 20px 0px;    
    }

    .navbar-manu-inside a{
            margin: 10px 0px;
            color: black !important;
            font-weight: 500;
    }

}
@media only screen and (max-width: 1024px){
    #navbar input {
    width: 50%;
    }
    .navbar-manu a {
        margin: 10px 20px;
    }
}

@media only screen and (max-width: 770px){
    #navbar input {
        width: 70%;
    }
}

@media only screen and (max-width: 450px){
    #navbar input {
        width: 100%;
        margin:auto;
        margin-top: 15px;
    }
}


@media only screen and (max-width: 500px){
   .bgpinK h1{
    font-size: 30px;
}

 
} 
.backgroundimg {
    background: url("../asset/BG contact us-01.svg");
    background-size: cover;
    width: 100%;
}
.pad-30 {
    padding: 230px;
}
  .contactUs .Touch{
    margin-top: 150px ;
    padding-left: 30px;
    
  }

  .contactUs .Touch .bgpinK{
      background-color: antiquewhite;
  }

  .contactUs .Touch h1, .contactUs .Touch h4{
      padding-left: 20px;
  }
  form{
      margin-top: 120px;
  }
  #Social{
      margin-top: 150px;
  }
  #Social h5{
      padding-bottom: 30px;
  }
.Touch .bgpinK{
    background-color: antiquewhite;
}

.imgPhn{
    background: url(../asset/phone-01.svg);
    background-repeat: no-repeat;
    /* margin-top: 100px; */
  
}

.line11{
    border-bottom: 2px solid black;
    align-items: right;
    width: 700px;
    margin-top: -20px;
}



/* footer */


#footer .row{
    padding: 70px;

}

#footer{
    margin-top: 60px;
    background-color: rgb(228, 226, 225);
}
/* .footer-stylster{
    line-height: 0;
} */
#footer ul {
    list-style: none;
}
#footer a,#footer h3{
    color: gray;
}
#footer a:hover{
    color: black;
    font-weight: 500;
}
   
.rline{
    border-right: 1px solid gray;

}

#footer ul li{
    padding-bottom: 10px;
}
#footer h3{
    margin-bottom: 30px;
}

   /*accessories  */


   @media only screen and (max-width: 770px){
       
    #footer .row {
        padding: 30px;
    }
    
}

@media only screen and (max-width: 420px){
    .imgPhn {
        display: none !important;
    }
    .rline{
        border: none;
    }
   
}

