@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap');


*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0px;
    margin: 0px;
}


/* navbar */



#navbar{
    background-color: rgb(218, 214, 214) !important;
}
#navbar .navbar-brand{
    font-size: 40px;
    font-weight: 500;
}
#navbar i{
    margin-right: 10px;
    font-size: 20px;
}

#navbar .nav-link{
    color: black;
    margin:0px 20px 0px 20px;
    text-decoration: underline;
    font-weight: 500;
} 



.flexIcon{
    display: flex;
    justify-content: center;
    width: 100%;
}
.flexIcon i{
   
   width: 30px;
   padding: 3px  7px;
   height: 25px;
}

#navbar input{
    width: 65%;
    margin:auto 100px;
     outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(179, 174, 174);
    background-color: rgb(218, 214, 214) !important;

}
#navbar input:focus {
    border-color: black
  }
  #navbar input::placeholder{
      padding-left: 10px;
  }

.navbar-manu{
    display: flex;
    justify-content: center;
}
.navbar-manu a{
    margin: 10px 50px;
}
.navbar-manu a{
    color: black !important;
   font-weight: 500;
}
.navbar-manu a:hover{
    text-decoration: underline;
}
@media only screen and (min-width: 1000px){
    .navbar-manu-inside{
        display: none;
    }
}

@media only screen and (max-width: 1000px){
    .displaynone1000{
        display: none;
    }
    .navbar-manu{
        display: none;
       
    }

    .navbar-manu-inside {
        display: flex;
        flex-direction: column;
        margin: 20px 0px 20px 30px;
        padding: 20px 0px;    
    }

    .navbar-manu-inside a{
            margin: 10px 0px;
            color: black !important;
            font-weight: 500;
    }

}
@media only screen and (max-width: 1024px){
    #navbar input {
    width: 50%;
    }
    .navbar-manu a {
        margin: 10px 20px;
    }
}

@media only screen and (max-width: 770px){
    #navbar input {
        width: 70%;
    }
}

@media only screen and (max-width: 450px){
    #navbar input {
        width: 100%;
        margin:auto;
        margin-top: 15px;
    }
}










.deals .flex1{
    padding: 50px 0px !important;
}

.deals .flex1{
    display: flex;
    justify-content:space-between ;
}

.font20{
    font-size: 22px;
}

.flex2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex2 button{
    padding: 6px;
    width: 100px;
}

.flex2  select{
    width: 200px;
}

@media only screen and (max-width: 500px){
    .flex1{
        display: flex;
        flex-direction: column;
        
    }
    .flex2{
        margin-top: 20px;
    }
}

.dealItem{
    margin-bottom: 20px;
    padding: 0px 10px;
    
}
.item p{
    color: white ;
    position: absolute;
    text-align: center;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.171), rgba(0,0,0,1));
    width: 100%;
    padding: 10px 0px;
}

.item img{
    height:420px;
}
/* footer */


#footer .row{
    padding: 25px;

}

#footer{
    margin-top: 60px;
    background-color: rgb(228, 226, 225);
}
/* .footer-stylster{
    line-height: 0;
} */
#footer ul {
    list-style: none;
}
#footer a,#footer h3{
    color: gray;
}
#footer a:hover{
    color: black;
    font-weight: 500;
}
   
.rline{
    border-right: 1px solid gray;

}

#footer ul li{
    padding: 10px;
}
#footer h3{
    margin-bottom: 30px;
}

@media only screen and (max-width: 800px){
    .item img{
        height:300px;
    }
    .owl-prev span,.owl-next span{
        line-height: 2.5 !important;
      }
    #footer h3{
        font-size: 20px;
    }
    #footer ul li{
        padding: 5px 0px;
    }
}

@media only screen and (max-width: 500px){
    .item img{
        height:450px;
    }
    .owl-prev span,.owl-next span{
        line-height: 4 !important;
      }
    .rline{
        border: none;
    }
    .rline{
        border-right:none;
      margin: 20px 0px;
    }
  
    .res800{
        height: 250px !important;
    }
    .style-blog-title{
        bottom: 5%;
    }
    
}




/* 
.owl-nav{
   
  line-height: 300px; 
 
  position: absolute;
  top: 0;
} */



 .owl-nav button{
      color: rgb(90, 88, 88) !important;
    font-size: 100px !important;
  }

.owl-prev span{
    line-height: 2.3;
    position: absolute;
    top:0%;
    left: 0;
    margin-left: -40px;
  }
 
.owl-next span{
    line-height: 2.3;
    position: absolute;
    top:0;
     right: 0; 
    
     margin-right: -40px;
  }


.owl-dots{
    display: none;
}

@media only screen and (min-width: 1005px){
    .owl-prev span,.owl-next span{
      line-height: 4 !important;
    }
}

@media only screen and (max-width: 450px){
    .owl-prev span,.owl-next span{

       margin: 0;
      }
}